:root {
  --bg: #121212;
  --text: #ffffff;
  --card: #1e1e1e;
}

body.light {
  --bg: #f5f5f5;
  --text: #000000;
  --card: #ffffff;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: 0.3s;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--card);
  gap: 10px;
  flex-wrap: wrap;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: red;
}

#search {
  flex: 1;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

/* TOMBOL MODE */
#theme-toggle {
  background: none;
  border: 1px solid var(--text);
  color: var(--text);
  padding: 5px 10px;
  border-radius: 8px;
}

/* GENRE */
.genre {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px;
}

.genre span {
  background-color: var(--card);
  padding: 6px 12px;
  border-radius: 20px;
  white-space: nowrap;
  cursor: pointer;
}

.genre span.active {
  background-color: red;
  color: white;
}

/* MOVIES GRID */
.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 10px;
  padding: 10px;
}

.movie {
  background-color: var(--card);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  transition: transform 0.2s;
}

.movie:hover {
  transform: scale(1.05);
}

.movie img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.movie p {
  padding: 5px;
  font-size: 14px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  font-size: 12px;
  color: #aaa;
}